# UI + Web
streamlit>=1.35
python-dotenv

# Data & Analysis
yfinance
pandas
numpy
plotly
requests
beautifulsoup4

# Auth
bcrypt

# DB
peewee

# AI / Langchain
openai
langchain
langchain-community
langchain-openai
langchain_groq
