# UI + Web
streamlit==1.35.0
python-dotenv==1.0.1

# Data & Analysis
yfinance==0.2.40
pandas==2.2.2
numpy==1.26.4
plotly==5.22.0
requests==2.31.0
beautifulsoup4==4.12.3

# Authentication
bcrypt==4.1.3

# Database
peewee==3.17.1

# AI & LangChain
openai==0.28
langchain==0.1.16
langchain-community==0.0.34
langchain-openai==0.0.20
langchain-groq==0.0.2

# Payment
stripe==8.5.0